# Неделя 1. Задачи для самопроверки

## 1. Самая первая задача

Самая первая задача
Напишите программу, которая пригласит человека забрать готовую пиццу из зоны выдачи, написав `“Имя, Ваша пицца готова!”`.

#### ФОРМАТ ВВОДА: 

* Строка с именем

#### ФОРМАТ ВЫВОДА:

* Фраза вида `“Имя, Ваша пицца готова!”`

#### Шаг 1

Для начала мы должны узнать имя нашего клиента, воспользуемся уже известной нам функцией ввода `input()`, а в качестве аргумента передадим приветственное сообщение.

In [ ]:
name = input('Как ваше имя? ')

Как ваше имя? Мария

#### Шаг 2

Вторым шагом мы выводим нужный нам текст на экран, используя изученную конструкцию **f-строки**. <br> Подставляем переменную **`name`** в фигурные скобки — `{name}`, и пишем нужный текст после нее.

In [ ]:
print(f'{name}, Ваша пицца готова!')

Мария, Ваша пицца готова!

#### Итоговое решение

In [1]:
name = input()
print(f'{name}, Ваша пицца готова!')

 Настя

Настя, Ваша пицца готова!

## 2. Признание

Решительный Владимир пообещал своей возлюбленной Лиле написать слово `“ЛЮБ”` 1000 раз. Помогите ему, написав программу, которая выведет на экран строчку `“ЛЮБ”` нужное количество раз.

#### ФОРМАТ ВВОДА: 

* Целое положительное число N — количество повторений

#### ФОРМАТ ВЫВОДА:
* Строка, ответ на задачу

#### Шаг 1

Спрашиваем у пользователя число. Поскольку мы должны получить целое число, чтобы дальше на него умножать, <br> то передаем функцию `input()` аргументом в функцию `int()` — `int(input())`.

In [ ]:
N = int(input())

5

#### Шаг 2

Умножаем строку `'ЛЮБ'` на переменную **N**, и таким образом получаем строку `'ЛЮБ'`, написанную **N** раз.

In [ ]:
print('ЛЮБ'* N)

ЛЮБЛЮБЛЮБЛЮБЛЮБ

#### Итоговое решение

In [ ]:
N = int(input())
print('ЛЮБ'* N)

## 3. Приключения Алисы
Алиса, попав в Зазеркалье, увидела, что все слова написаны задом наперёд: вместо слова `“МИР”` написано `“РИМ”`, вместо `“ГОД”` — `“ДОГ”`. Помогите ей прочитать написанные тексты, написав программу, которая будет выводить слова в обратном порядке. Известно, что в строке, с которой работает программа, ровно 3 буквы.

#### ФОРМАТ ВВОДА:
* Строка из трёх символов

ФОРМАТ ВЫВОДА:
* Строка из трёх символов

#### Шаг 1

Сначала мы должны ввести слово, которое хотим «перевернуть», воспользуемся известной нам функцией `input()`.

In [ ]:
s = input()

МИР

#### Шаг 2

Затем мы выводим поочередно буквы в обратном порядке. <br> Воспользуемся обратной индексацией, где `[-1]` — последний символ, `[-2]` — предпоследний, и так далее. <br>
Поставим аргумент `sep=''`, что означает отсутствие разделителя между буквами, ведь мы хотим получить слитно написанное слово.

In [ ]:
print(s[-1], s[-2], s[-3], sep='')

РИМ

#### Итоговое решение

In [ ]:
s = input()
print(s[-1], s[-2], s[-3], sep='')

РИМ
МИР

Как вариант, вместо изменения параметра разделителя можно воспользоваться оператором `+`, чтобы склеить строки. А индексация может быть и «положительная». Таким образом, первая буква будет с индексом 0, вторая – с индексом 1 и последняя — с индексом 2.

In [ ]:
s = input()
print(s[2] + s[1] + s[0])

МИР
РИМ

## 4. Время домашней работы

Усидчивый Матвей планирует заниматься ровно N часов. Помогите ему понять, во сколько он закончит заниматься сегодня, если на электронных часах сейчас A:B минут?

#### ФОРМАТ ВВОДА: 
* Целое число N — сколько часов планирует заниматься Матвей, N >= 0
* Строка вида ЧЧ:ММ, указывающая, который сейчас час.
* Известно, что Матвей закончит заниматься в тот же день, когда начнёт.

#### ФОРМАТ ВЫВОДА: 
* Строка вида "ЧЧ:ММ"

#### Шаг 1

Для начала мы вводим, сколько часов Андрей будет заниматься (**n**) и какое сейчас время. Обратим внимание, что число часов мы переводим в целое число — `int()`. Время же мы оставляем в виде строки, поскольку оно имеет формат `hh:mm`.

In [ ]:
n = int(input())
t = input()

5
13:20

#### Шаг 2

Дальше мы переводим по отдельности часы и минуты в формат целых чисел. <br>
Для того, чтобы получить часы, мы берем первый и второй символ (элементы с индексами `[0]` и `[1]`), «склеиваем» их и переводим в формат числа с помощью `int()`. <br>
Чтобы получить минуты, делаем то же самое, только берем элементы с индексами `[3]` и `[4]`. Расчетов с этой переменной мы делать не будем, в целое число ее можно не переводить.

In [ ]:
hh = int(t[0] + t[1]) # превращаем в целое число — для расчетов
mm = t[3] + t[4] # оставляем строкой — считать ничего не будем

#### Шаг 3

В конце мы должны вывести время, в которое Андрей закончит заниматься. Прибавляем к текущему времени запланированное число часов (`hh + n`), и подставляем полученное значение в нужный формат в **f-строку**. Также подставляем туда минуты без изменений.

In [ ]:
print(f'{hh + n}:{mm}')

18:20

#### Итоговое решение

## NB добавлено уточнение для решения в случае лидирующего нуля в минутах

In [ ]:
n = int(input())
t = input()
hh = int(t[0] + t[1])
mm = t[3] + t[4]
print(f'{hh+n}:{m//10}{m%10}')

5
13:20
18:20

## 5. Налоги

Вася открыл собственное кафе и сейчас заполняет налоговую декларацию по упрощённой системе налогообложения “доходы минус расходы”.

Посчитайте сумму налогов за год, зная доходы кафе, расходы кафе и процент налоговой ставки, принятой в Васином регионе.

Например, если кафе получило доходы в размере 2500000 рублей и понесло расходы на 1000000 рублей, то налогом облагается 1500000 рублей. При налоговой ставке 10% заплатить будет нужно 150000 рублей.

#### ФОРМАТ ВВОДА:
* Целое положительное число — размер доходов.
* Целое положительное число — размер расходов.
* Целое положительное число — процентная ставка (от 6 до 15 включительно).

#### ФОРМАТ ВЫВОДА: 
* Целое положительное число — размер налога.

#### Шаг 1

Считаем с клавиатуры доходы кафе, расходы и налоговую ставку в процентах с помощь конструкции `int(input())`. <br> 
Cразу же переведем налог в формат десятичной дроби, разделив целое число процентов на 100.

Почему мы так делаем: чтобы перевести проценты в долю (в вид десятичной дроби), мы должны разделить нашу процентную ставку на 100%, тогда получим дробь (например, 0.1, 0.13, 0.25). А умножив число на эту дробь, мы как раз и получим X процентов от числа. Это эквивалентно делению на 100, то есть нахождению одного процента, и потом умножению на нужное число процентов.

*Пример.* Нам нужно найти 15% от 1200 рублей. Для этого мы 1200 умножаем на 0.15 и получаем 180. Значит, 180 рублей — это 15% от 1200.

In [3]:
revenue = int(input('Доходы кафе = '))
costs = int(input('Расходы кафе = '))
tax = int(input('Процентная ставка = ')) / 100
print('Процентная ставка налога после перевода в дробный вид:', tax)

Доходы кафе =  250000
Расходы кафе =  100000
Процентная ставка =  15

Процентная ставка налога после перевода в дробный вид: 0.15

#### Шаг 2

Посчитаем разницу между доходами и расходами. Затем умножим ее на процентную ставку в формате дроби, и получим результат — величину налоговых отчислений.

In [4]:
print((revenue - costs) * tax)

22500.0

Ответ нам нужен в целых числах – перед выводом превратим дробь в integer.

In [5]:
print(int((revenue - costs) * tax))

22500

#### Итоговое решение

In [10]:
revenue = int(input())
costs = int(input())
tax = int(input()) / 100
print(int((revenue - costs) * tax))

 25000
 10000
 15

2250